<div class="container">
    <div class="row my-3">
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-block mt-4">
                    <a href="{% url 'addquestion' %}"><i class="fa fa-question-circle fa-3x"></i></a>
                    <h4 class="card-title">Question</h4>   
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-block">
                    <h4 class="card-title">Quiz</h4>
                    <h2><i class="fa fa-address-card-o fa-3x"></i></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100 card-info">
                <div class="card-block">
                    <h4 class="card-title">Big Savings</h4>
                    <h2><i class="fa fa-coffee fa-3x"></i></h2>
                </div>
            </div>
        </div>
    </div>
</div>
